[Unit]
Description=Grafana reset admin password
After=grafana-server.service
Require=grafana-server.service

[Service]
Type=oneshot
ExecStart=/bin/curl -X PUT -H "Content-Type: application/json" -d '{\
  "oldPassword": "admin",\
  "newPassword": "airmineral123",\
  "confirmNew": "airmineral123"\
}' http://admin:admin@192.168.220.131:3000/api/user/password

[Install]
WantedBy=default.target
